@use "@angular/material" as mat;
@import "../../styles.scss";

.container {
	padding: 2rem;
}

.link {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	transition: all 0.2s ease-in-out;
	align-self: center;
}

.link:hover {
	transform: scale(1.2);
	color: mat.get-color-from-palette($portfolio-primary, 300);
}

.logo {
	color: white;
	text-decoration: none;
	font-size: 2.25rem;
	transition: all 0.2s ease-in-out;
}

.logo:hover {
	transform: scale(1.2);
	color: mat.get-color-from-palette($portfolio-primary, 300);
}

.top-divider {
	width: 30%;
	border-top-color: #2d283e;
	margin-left: 10%;
}

.bottom-divider {
	border-top-color: #564f6f;
	margin-left: 30%;
	margin-right: 10%;
}
