<footer>
	<div class="container">
		<div fxLayoutAlign="center" fxLayoutGap="5rem">
			<a
				class="socials-icon"
				href="https://github.com/zachtes13"
				title="navigate to github.com"
			>
				<fa-icon [icon]="faGithub" size="xl"></fa-icon>
			</a>
			<a
				class="socials-icon"
				href="https://www.linkedin.com/in/zachary-tesolin/"
				title="navigate to linkedin.com"
			>
				>
				<fa-icon [icon]="faLinkedin" size="xl"></fa-icon>
			</a>
			<a
				class="socials-icon"
				href="https://soundcloud.com/zzzakiii"
				title="navigate to soundcloud.com"
			>
				<fa-icon [icon]="faSoundcloud" size="xl"></fa-icon>
			</a>
			<a
				class="socials-icon"
				href="https://open.spotify.com/user/12164801373"
				title="navigate to spotify.com"
			>
				<fa-icon [icon]="faSpotify" size="xl"></fa-icon>
			</a>
		</div>
	</div>
</footer>
