<section>
	<div class="container">
		<div fxLayoutAlign="center" fxLayoutGap="5rem">
			<a class="socials-icon" href="https://github.com/zachtes13">
				<fa-icon [icon]="faGithub" size="xl"></fa-icon>
			</a>
			<a
				class="socials-icon"
				href="https://www.linkedin.com/in/zachary-tesolin/"
			>
				<fa-icon [icon]="faLinkedin" size="xl"></fa-icon>
			</a>
			<a class="socials-icon" href="https://soundcloud.com/zzzakiii">
				<fa-icon [icon]="faSoundcloud" size="xl"></fa-icon>
			</a>
			<a class="socials-icon" href="https://open.spotify.com/user/12164801373">
				<fa-icon [icon]="faSpotify" size="xl"></fa-icon>
			</a>
		</div>
	</div>
</section>
