<section>
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">15 Month Internship</h2>
			<h2 class="location"><em>The Jonah Group</em></h2>
			<h3 class="date">JUL 2022 - SEPT 2023</h3>
		</div>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
	<mat-divider class="item-divider"></mat-divider>
	<!-- TODO: SPLIT HEADER IN TWO -- ISOLATE THIS INTO A SHAREABLE UTILITY COMPONENT -->
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">Honours BSc Computer Science</h2>
			<h2 class="location"><em>Carleton University</em></h2>
			<h3 class="date">SEPT 2022 - PRESENT</h3>
		</div>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
	<mat-divider class="item-divider"></mat-divider>
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">English Language Assistant</h2>
			<h2 class="location"><em>Lyceé Maupertuis</em></h2>
			<h3 class="date">OCT 2020 - APR 2021</h3>
		</div>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
	<mat-divider class="item-divider"></mat-divider>
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">Honours BA English & French Minor</h2>
			<h2 class="location"><em>York University</em></h2>
			<h3 class="date">SEPT 2015 - OCT 2020</h3>
		</div>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
	<mat-divider class="item-divider"></mat-divider>
</section>
