<section>
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">Intern - The Jonah Group</h2>
			<h3 class="date">JUL 2022 - SEPT 2023</h3>
		</div>
		<span class="circle"></span>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">Honours BSc Computer Science - Carleton University</h2>
			<h3 class="date">SEPT 2022 - AUG 2024</h3>
		</div>
		<span class="circle"></span>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">English Language Assistant - Lyceé Maupertuis</h2>
			<h3 class="date">OCT 2020 - APR 2021</h3>
		</div>
		<span class="circle"></span>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
	<div fxLayout="row" class="timeline-item">
		<div class="header-container">
			<h2 class="title">Honours BA English & French Minor - York University</h2>
			<h3 class="date">SEPT 2015 - OCT 2020</h3>
		</div>
		<span class="circle"></span>
		<div class="body-container">
			<p>
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
				Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum cum.
			</p>
		</div>
	</div>
</section>
