.timeline-item {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.bullet {
	height: 0.5rem;
	width: 0.5rem;
	background-color: white;
	position: absolute;
	left: 30%;
	top: calc(50% - 10px);
	margin-left: -0.25rem;
	vertical-align: middle;
}

.header-container {
	color: black;
	width: 30%;
	min-width: 30%;
	max-width: 30%;
}

.title {
	font-size: 1.45rem;
}

.location {
	font-size: 1.25rem;
	margin-bottom: 0.25rem;
}

.date {
	font-size: 0.75rem;
	margin-top: 0;
}

.body-container {
	color: white;
	padding-left: 2rem;
	padding-right: 2rem;
	align-self: center;
}

.item-divider-left {
	width: 30%;
	border-top-color: #1f292e;
	margin-left: 10%;
}

.item-divider-right {
	border-top-color: #3e515b;
	margin-left: 30%;
	margin-right: 10%;
}
