@use "@angular/material" as mat;
@import "../../styles.scss";

.section {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
}

.title {
	color: mat.get-color-from-palette($portfolio-primary, 300);
	font-size: 4rem;
	display: flex;
	justify-content: center;
	font-size: 64px;
}

.projects-container {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
