<main class="section">
	<div>
		<h1 class="title">Projects</h1>
		<div class="projects-container">
			<app-project
				[title]="'YesChef! - AI Culinary Assistant'"
				[description]="
					'Agentic AI culinary assitant used to recommend recipes advised by user uploaded recipe PDFs.'
				"
				[imagePath]="'assets/yes-chef.jpg'"
				[imageAlt]="'yes-chef'"
				[techStack]="[
					'Python',
					'LangChain - RAG',
					'CrewAI - Agentic AI',
					'FAISS - Vector DB',
					'Streamlit UI',
					'OpenAI - Embeddings'
				]"
				[url]="'https://github.com/zachtes13/yes-chef'"
				[isContentRightSide]="false"
			></app-project>
			<app-project
				[title]="'Sweat - Gym Progress Tracking App'"
				[description]="
					'Mobile web application used to construct and track exercises and workouts.'
				"
				[imagePath]="'assets/sweat.jpg'"
				[imageAlt]="'sweat'"
				[techStack]="['React', 'Java', 'SQL', 'Full-stack', 'Responsive UI']"
				[isContentRightSide]="true"
			></app-project>
			<app-project
				[title]="'Portfolio Website'"
				[description]="
					'You\'re looking at it! Jokes aside, this is a website to showcase myself and allow you to reach me using a form hooked up to an email service.'
				"
				[imagePath]="'assets/portfolio.jpg'"
				[imageAlt]="'portolio-website-homepage'"
				[techStack]="[
					'Angular',
					'Typescript',
					'Sass',
					'UX/UI',
					'Front-end',
					'Responsive UI'
				]"
				[url]="'https://github.com/zachtes13/me'"
				[isContentRightSide]="false"
			></app-project>
			<app-project
				[title]="'AED Simulator'"
				[description]="
					'Group project implementing an interactive simulator of an automated external defibrillator (AED), allowing a user to walk through the steps of treating a patient.'
				"
				[imagePath]="'assets/aed-sim.jpg'"
				[imageAlt]="'aed-simulator'"
				[techStack]="['C++', 'UX/UI', 'Qt Framework', 'Agile', 'Full-stack']"
				[url]="'https://github.com/zachtes13/comp3004_aed-sim'"
				[isContentRightSide]="true"
			></app-project>
		</div>
	</div>
</main>
