@use "@angular/material" as mat;
@import "../../styles.scss";

:host {
	height: 100%;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5rem;
	height: 100%;
	justify-content: center;
}

.contact-info-inputs {
	display: flex;
	gap: 1rem;
}

.submit-button {
	font-size: 1.2rem;
	display: flex;
	align-self: end;
	background: mat.get-color-from-palette($portfolio-primary, 300);
	align-items: center;
	font-family: "Comfortaa-Regular";
	src: url("../../assets/Comfortaa-Regular.ttf");
}

.contact-form {
	height: fit-content;
	width: 45rem;
	background-color: white;
	grid-column: 6/12;
	grid-row: 1/1;
	z-index: 1;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
	padding: 2rem;
	align-items: start !important;
	gap: 1rem;
	align-self: center;
}

.form-title {
	font-size: 2.5rem;
}

.contact-form-input {
	width: 20rem;
}

.full-width-input {
	width: 100%;
}

#message {
	resize: none;
	height: 5rem;
}
