.container {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.profile-container {
	width: 30%;
	min-width: 30%;
	margin-right: 8.5rem;
	height: 17rem;
}

.cool-guy {
	position: absolute;
	left: 30%;
	margin-left: -8.5rem;
	border-radius: 45%;
	width: 17rem;
	height: 17rem;
}

.title {
	color: white;
	font-size: 2rem;
}

.bio-container {
	padding-left: 10rem;
	padding-right: 10rem;
	align-self: center;
}

.bio {
	color: white;
	font-size: 2rem;
}

.name {
	width: 100%;
	height: 3.25rem;
	margin-bottom: 6rem;
}

.first-name {
	color: black;
	font-size: 3.25rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0.5rem;
	margin-left: 0;
	position: absolute;
	right: 70%;
}

.last-name {
	color: white;
	font-size: 3.25rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0.5rem;
	position: absolute;
	left: 30%;
}
