@use "@angular/material" as mat;
@import "../../styles.scss";

:host {
	height: 100%;
}

.section {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding-top: 6rem;
	padding-bottom: 6rem;
	margin-left: 5rem;
	margin-right: 5rem;
	justify-content: end;
	display: flex;
	width: 100%;
}

.cool-guy {
	position: absolute;
	left: 30%;
	margin-left: -13rem;
	border-radius: 45%;
	width: 25rem;
	height: 25rem;
}

.title {
	color: white;
	font-size: 2rem;
}

.bio-container {
	align-self: center;
}

.bio {
	color: white;
	font-size: 1.25rem;
	margin-top: 0;
	margin-bottom: 0;
}

.name {
	width: 100%;
	margin-bottom: 0.25rem;
}

.first-name {
	color: mat.get-color-from-palette($portfolio-primary, 300);
	font-size: 4rem;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0.5rem;
}

.last-name {
	color: mat.get-color-from-palette($portfolio-primary, 300);
	font-size: 4rem;
	margin-top: 0;
	margin-bottom: 0;
}

.tech-stack-chips {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.tech-stack-chip {
	background-color: #d1d7e0;
}
