.container {
	padding-bottom: 5rem;
}

.profile-container {
	padding-top: 10rem;
}

.cool-guy {
	position: absolute;
	left: 19%;
	border-radius: 45%;
	width: 17rem;
	height: 17rem;
}

.title {
	color: white;
	font-size: 2rem;
}

.bio {
	color: white;
	padding-top: 13rem;
	padding-bottom: 7rem;
	padding-right: 7rem;
	padding-left: 2rem;
	font-size: 2rem;
}
.name {
	margin-left: 8.5%;
	padding-top: 3rem;
}

.first-name {
	color: black;
	font-size: 3.25rem;
	margin: 0;
}

.last-name {
	color: white;
	font-size: 3.25rem;
	margin: 0;
}
