<section>
	<div class="container">
		<div fxLayout="row" fxLayoutAlign="space-betweens">
			<div class="profile-container">
				<img class="cool-guy" src="../../assets/gitme.jpg" alt="photo-of-me" />
			</div>
			<div class="name" fxLayout="row" fxLayoutGap="1rem">
				<h3 class="first-name">ZACHARY</h3>
				<h3 class="last-name">TESOLIN</h3>
			</div>
			<div fxLayoutAlign="end">
				<p class="bio">
					<em>
						"Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem ipsum
						cum. Ipsem, lorem ipsum lorem ipsum. Lorem ipsum cumen ilmen lorem
						ipsum cum."
					</em>
				</p>
			</div>
		</div>
	</div>
</section>
