<main class="section">
	<img
		*ngIf="isWeb()"
		class="cool-guy"
		src="../../assets/gitme.png"
		alt="photo-of-me"
	/>
	<div class="container">
		<div fxLayout="column" fxLayoutAlign="space-between">
			<div fxLayout="row" fxLayoutAlign="space-between">
				<div
					class="bio-container"
					fxLayout="column"
					fxLayoutAlign="{{ isWeb() ? 'end end' : 'start start' }}"
				>
					<div class="name" fxLayout="{{ isWeb() ? 'row' : 'column' }}">
						<h1 class="first-name">Zachary</h1>
						<h1 class="last-name">Tesolin</h1>
					</div>
					<h2 class="bio">Full stack developer</h2>
					<div class="tech-stack-chips">
						<mat-chip-set>
							<mat-chip class="tech-stack-chip">React</mat-chip>
							<mat-chip class="tech-stack-chip">Angular</mat-chip>
							<mat-chip class="tech-stack-chip">Typescript</mat-chip>
							<mat-chip class="tech-stack-chip">.NET</mat-chip>
							<mat-chip class="tech-stack-chip">C#</mat-chip>
							<mat-chip class="tech-stack-chip">Java</mat-chip>
						</mat-chip-set>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
